<div class="app-container p-16">
  <div class="grid grid-cols-1 gap-4">
    <div class="font-bold text-center text-lg">Agregar Productos</div>
    <form [formGroup]="ProductForm" class="flex justify-center">
      <div class="rounded-lg border-2 w-[70%] p-4 grid grid-cols-1 gap-4">
        <div class="flex justify-center">
          <div class="font-semibold text-xl">Nombre</div>
        </div>
        <div class="flex justify-center">
          <input
            formControlName="name"
            type="text"
            pInputText
            style="border-width: 2px"
          />
        </div>
        <div class="flex justify-center">
          <div class="font-semibold text-xl">Precio</div>
        </div>
        <div class="flex justify-center">
          <input
            formControlName="price"
            type="number"
            [min]="0"
            pInputText
            style="border-width: 2px"
          />
        </div>
        <div class="flex justify-center">
          <div
            *ngIf="!ProductForm.get('file')?.value"
            class="flex flex-col gap-2 w-[50%]"
          >
            <div class="flex justify-center">
              <div class="font-semibold text-xl">Imagen</div>
            </div>

            <input
              type="file"
              (change)="onUploadFile($event)"
              accept="image/png, image/jpeg"
              id="uploadImage"
              class="hidden"
            />
            <label
              for="uploadImage"
              class="cursor-pointer rounded-lg border-zinc-950 p-4 border-[2px] items-center justify-center gap-4 inline-flex"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"
                />
              </svg>

              <div
                class="italic text-xs font-sans font-medium leading-normal text-zinc-950"
              >
                Subir
              </div>
            </label>
          </div>
        </div>
        <div class="flex justify-center">
          <div
            *ngIf="ProductForm.get('file')?.value"
            class="w-[50%] flex flex-col gap-2"
          >
            <div class="flex justify-center">
              <div class="font-semibold text-xl">Imagen</div>
            </div>

            <div
              class="rounded-lg border-zinc-950 p-4 border-[2px] inline-flex items-center justify-center gap-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                />
              </svg>

              <label class="text-zinc-500 font-sans" for="file">{{
                file.name
              }}</label>
              <svg
                class="cursor-pointer"
                (click)="onDeleteFile()"
                width="17"
                height="17"
                viewBox="0 0 17 17"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_183_167)">
                  <path
                    d="M3.51104 4.85266H13.7886"
                    stroke="#FF3C3A"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M7.36514 7.55853V11.6174"
                    stroke="#FF3C3A"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9.93454 7.55853V11.6174"
                    stroke="#FF3C3A"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M4.15339 4.85266L4.79574 12.9703C4.79574 13.3291 4.93109 13.6733 5.17202 13.927C5.41295 14.1807 5.73972 14.3232 6.08044 14.3232H11.2192C11.56 14.3232 11.8867 14.1807 12.1277 13.927C12.3686 13.6733 12.5039 13.3291 12.5039 12.9703L13.1463 4.85266"
                    stroke="#FF3C3A"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.72279 4.85267V2.82326C6.72279 2.64385 6.79047 2.47179 6.91093 2.34492C7.0314 2.21806 7.19478 2.14679 7.36514 2.14679H9.93454C10.1049 2.14679 10.2683 2.21806 10.3888 2.34492C10.5092 2.47179 10.5769 2.64385 10.5769 2.82326V4.85267"
                    stroke="#FF3C3A"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_183_167">
                    <rect
                      width="15.4164"
                      height="16.2353"
                      fill="white"
                      transform="translate(0.941641 0.117371)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <p-button
            (onClick)="onSaveProduct()"
            [disabled]="ProductForm.invalid"
            label="Guardar"
            class="rounded-full"
          />
        </div>
      </div>
    </form>
  </div>
</div>
